<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Condomino - Uniendo comunidades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <h1>Bienvenido</h1>
        <a href="{{ url_for('choose_role', role='administrador') }}">Soy Administrador</a>
        <a href="{{ url_for('choose_role', role='vecino') }}">Soy Vecino</a>

        <div class="v1_2">
            <div class="v1_3"></div>
            <div class="v1_4"></div>
            <span class="v1_5">Condomino</span>
            <span class="v2_11">Comunidad</span>
            <span class="v2_12">Anuncios</span>
            <span class="v2_13">Votaciones</span>
            <div class="v3_15"></div>
            <div class="v3_16"></div>
            <div class="v3_17"></div>
            <span class="v3_18">¡Buenos días vecino!</span>
            <span class="v3_19">Importante</span>
            <span class="v3_20">Te podría interesar...</span>
            <div class="v3_21"></div><div class="v3_23"></div>
            <div class="v3_24"></div><div class="v3_25"></div>
            <div class="v3_26"></div><div class="v3_28"></div>
            <div class="v3_29"></div><div class="v3_30"></div>
            <div class="v3_33"></div>
            <span class="v3_35">A 10 vecinos también les gusta jugar fútbol</span>
            <div class="v3_37"></div>
            <div class="v3_38"></div>
            <div class="v3_39"></div>
            <div class="v3_42"></div>
            <div class="v3_43"></div>
            <div class="v3_32"></div>
            <div class="v3_36"></div>
            <div class="v2_10"></div></div>
    </body>
    </html>